.template-action__button .Polaris-ButtonGroup {
    justify-content: flex-end;
}
.template-action__button .Polaris-Button__Spinner+.Polaris-Text--root {
    opacity: 0;
}
.image-media__list.disabled {
    pointer-events: none;
}
.box-center__center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.personalization-image__box {
    position: relative;
    height: calc(100vh - 5rem);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(rgb(148 148 148 / 76%) 14.4%, transparent 14.4%);
    background-position: 0 0;
    background-size: 10px 10px;
    background-color: rgb(255 255 255 / 5%);
    padding: 20px;
}
.personalization-image__media {
    position: relative;
    height: 100%;
    display: block;
    width: auto;
}
.searchbar-with__filters {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto auto;
    padding: 15px;
    gap: 10px;
    align-items: center;
}
.image-media__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
.swatch-image {
    cursor: pointer;
}
.swatch-image.active .Polaris-Thumbnail {
    border: 1px solid #000;
}
.product-list-item {
    border-bottom: var(--p-border-width-025) solid var(--p-color-border-brand);
}
.product-list-item.variant-element .Polaris-ResourceItem {
    padding-left: 20px;
}
.Polaris-IndexTable__TableCell--first {
    width: 40px;
}
.sort-by__products {
    padding: 10px;
}
.sort-by__products {
    padding: 10px;
}
.sort-by__products ul {
    gap: 5px;
}
.sort-by__products>button {
    margin-top: 2px;
}
.logo-image__item {
    padding: 15px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
} 
.logo-image__item:hover,
.logo-image__item[data-checked="true"] {
    background: #f4f4f4;
}
.logo-image__item .Polaris-Thumbnail--sizeLarge {
    width: 100%;
}
.logo-image__item .Polaris-Choice {
    position: absolute;
    top: 15px;
    left: 20px;
}